.App {
  text-align: center;
}
.main-part{
  width: calc(100vw);
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows:30px 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-areas: 
   "p p p p p p p p p p p p"
    "h h h h h h h . a a a a"
    "h h h h h h h . a a a a"
    "t t t t t t t . a a a a"
    "t t t t t t t . b b b b "
    "t t t t t t t . b b b b "
  ;

}
@media screen and (max-width:1000px) {
  .main-part{
    grid-template-rows:30px 400px 568px 350px;
    grid-template-areas:
    "p p p p p p p p p p p p"
    "h h h h h h h h h h h h"
    "t t t t t t a a a a a a"
    "b b b b b b b b b b b b " ;
  }
  .home-main{
    height: 600px;
  }
  .corona-update{
    margin-left: 120px;
  }
  .corona-update .imgcorona,.infection{
    height: 175px;
  }
}
.profile{
  grid-area: p;
}
.home-main {
  grid-area: h;
}
.todo-list{
  grid-area: t;
}
.detail-appointments{
  grid-area: a;
}
.corona-update{
  grid-area: b;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
