.App {
  text-align: center;
}
.main-part{
  width: calc(100vw);
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows:30px 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-areas: 
   "p p p p p p p p p p p p"
    "h h h h h h h . a a a a"
    "h h h h h h h . a a a a"
    "t t t t t t t . a a a a"
    "t t t t t t t . b b b b "
    "t t t t t t t . b b b b "
  ;

}
@media screen and (max-width:1000px) {
  .main-part{
    grid-template-rows:30px 400px 568px 350px;
    grid-template-areas:
    "p p p p p p p p p p p p"
    "h h h h h h h h h h h h"
    "t t t t t t a a a a a a"
    "b b b b b b b b b b b b " ;
  }
  
  .corona-update{
    margin-left: 120px;
  }
  .corona-update .imgcorona,.infection{
    height: 175px;
    object-fit: cover;
  }
}
@media screen and (max-width:718px) {
 
  .main-part{
    grid-gap: 0;
    margin-top: 0;
   
    grid-template-rows:100px 800px 569px 468px 750px;
    grid-template-areas:
    "p p p p p p p p p p p p"
    "h h h h h h h h h h h h"
    "a a a a a a a a a a a a"
    "t t t t t t t t t t t t"
    "b b b b b b b b b b b b " ;
  }
  .health-param-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
   
  }
  .banner{
    border-radius: 0px;
  }
  .home-main{
    margin-left: 0;
    border-radius: 0;
    padding-top: 0px;
  }
  .corona-update{
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0;
    margin-top: 10px;
  }
  .detail-appointments{
   margin-right: 0px;
   margin-top: 10px;
    margin-left:0px;
    margin-bottom: 10px;
  }
  .todo-list{
    margin-left: 0;
  }
  .corona-update .insideCorona{
    flex-direction: column;
  }
  .corona-update .insideCorona>img{
    width: 100%;
  }
  .corona-update .insideCorona>div{
    width: 100%;
    height: 350px;
    margin-top: 10px;
  }
  .corona-update .extraInfo{
    display: block;
  }
  .sidebar{
    height:850px ;
  }
  .profile{

    background-image: linear-gradient( 91.57deg, #FF7594 19.86%, #FF797B 84.16%, #FF7C65 139.72%);
    padding-bottom:10px ;
  }
}
.profile{
  grid-area: p;
}
.home-main {
  grid-area: h;
}
.todo-list{
  grid-area: t;
}
.detail-appointments{
  grid-area: a;
}
.corona-update{
  grid-area: b;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
